In [1]:
import pandas as pd
import os

from sqlalchemy import create_engine, text

#maximum number of rows to display
pd.options.display.max_rows = 20

engine=create_engine('postgresql://team4:team4@ds4a-lbenetton-instance.c6qxfh7ops9d.us-east-2.rds.amazonaws.com/ds4a_team4', max_overflow=20) 
#engine=create_engine('postgresql://ec2-user@ec2-3-19-209-11.us-east-2.compute.amazonaws.com/postgres', max_overflow=20)

def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [27]:
runQuery("""
    select * from itinerary limit 5
;""")

,itineraryid,created,packages,accepted,started,finished,city,status,type_vehicle,type_service,service_level,field11,field12
0,e669a4d5-04c9-4cf0-2140-0758e7eaa5d9,2018-12-16,1.00,2018-12-16,2018-12-16,2018-12-16,Rio de Janeiro,finished,Moto,Presto,Prime,None,2041
1,5776c090-2292-eb6a-91ca-570efa54be1a,2018-12-16,1.00,2018-12-16,2018-12-16,2018-12-16,São Paulo,finished,Moto,Presto,Start,None,2257
2,a406d84a-07af-fe10-517c-4a32721410a3,2018-12-16,1.00,2018-12-16,2018-12-16,2018-12-16,São Paulo,finished,Moto,Presto,Start,None,1702
3,ddef1800-2081-592e-1299-f1e626785c8e,2018-12-16,None,None,None,None,São Paulo,dropped,Moto,Presto,Start,None,1838
4,b87ef3cb-96c9-f025-0d2f-67de8701597a,2018-12-16,1.00,2018-12-16,2018-12-16,2018-12-16,Rio de Janeiro,finished,Moto,Presto,Prime,None,2172

In [ ]:
runQuery("""
    select * from itinerary limit 5
;""")